<!DOCTYPE html>
<html>
  <head>
    <title>NorthOne: Banking for Small Businesses & Freelancers</title>
    <meta name="description" content="NorthOne is a bank account that helps small businesses save time and money. We empower you to take control of your finances.">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
  </head>
  <script type="text/javascript">
    
    window.logo_icon = "<%= image_url('gb_northone_logo.png')%>"

  </script>

  <body>
    <%= yield %>
  </body>
</html>
